[submodule "Megatron-LM"]
	path = Megatron-LM
	url = https://github.com/plugyawn/Megatron-LM.git
	branch = master
[submodule "Emerging-Optimizers"]
	path = Emerging-Optimizers
	url = https://github.com/plugyawn/Emerging-Optimizers.git
	branch = master
[submodule "TransformerEngine"]
	path = TransformerEngine
	url = https://github.com/plugyawn/TransformerEngine.git
	branch = feature/extra-wgrad-feature-gram
